@tailwind base;
@tailwind components;
@tailwind utilities;

#main {
  background-color: #101010;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 20px;
  overflow: hidden;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-color: #000;
  padding: 20px;
  border-radius: 20px;
}

.band-params {
  background-color: #ff0000;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.fader {
  border-radius: 0.5rem;
  padding: 0.5rem;
  transform: rotate(90deg);
}

.group-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  margin: 10px;
  background-color: #101010;
  border-radius: 20px;
  overflow: hidden;
}

.group-title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  margin-right: 10px;
}

.group-params {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}